<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="college" class="org.hcl.maven3.College1">
<property name="coursesoffered" >
<list>
<value>ECE</value>
<value>CSE</value>
<value>IT</value>
</list>
</property>
</bean>

</beans>
